@import url(http://fonts.googleapis.com/css?family=Armata);

h1,h2,h3 {font-family: 'Armata', sans-serif; color: #ae2101;}
*{margin:0px; padding:0px;}
body{font-size:12px; line-height:15px; color:#646464; font-family:Arial, Helvetica, sans-serif; background:#f9f9fa;}
img,fieldset{outline:none; border:none; padding:0px; margin:0px;}
.curve{width:100%; float:left;}
.curve img{float:left;}
.clear{clear:both;}
:focus{outline:none; border:none;}

/* titles and co */
#page-title {color: #ae2101; margin: 15px 0 20px 0; line-height: 25px;}
h3 a {color: #ae2101; text-decoration: none;}
h2 a, h2 {color: #ae2101; text-decoration: none; line-height: 25px; font-size: 11pt;}
h4 a, h4 {color: #ae2101; line-height: 20px; font-size: 9pt; font-weight: normal;}
a {color: #ae2101;}
table { border-collapse: separate;}

.wrapper{width:1008px; margin:0 auto;}
#main{width:100%; float:left; background:url(images/man_group_bg.jpg) no-repeat right bottom; min-width:1008px }

#outer_header{width:100%; float:left; height:661px;}
#innarpage_header{width:100%; float:left; background: no-repeat center 0; height:799px;}
#header{width:1008px; float:left;}
#header .logo{float:left; margin:28px 0 0 0;}
#header .logo.mar{margin-top:150px;}
#header .right_side{width:685px; float:right; background:url(images/menu_bg.png) no-repeat 0 0; margin-top:30px ; padding-left:15px;}
#header .right_side.mar{margin-top:147px;}

#menu{width:525px; float:left;}
		
#login_sec{float:right; width:72px; padding-top:10px; margin: -30px 0 0px 0;}
#login_sec .login{width:59px; height:26px; text-decoration:none; background:url(images/login.png) no-repeat 0 0; float:left; margin-right:8px; display:inline;}
#login_sec .login span{font-size:13px; line-height:16px; color:#605226; padding-top:4px;  text-align:center; width:100%; float:left;}

#login_sec .singup{width:64px; height:26px; text-decoration:none; background:url(images/login.png) no-repeat 0 0; float:left;}
#login_sec .singup span{font-size:13px; line-height:16px; color:#fff; padding-top:4px;  text-align:center; width:100%; float:left;}

#social{width:876px; float:left; height:353px; margin-left:120px; display:inline; margin-top:-46px;}
 
#body_container{width:1008px; float:left; position:relative;}
#body_container .man_group{width:100%; position:absolute; right:-693px; bottom:-40px;  height:500px;}
.top_container{width:968px; float:left; background: #fff; margin:-165px 0 -100px 0; padding:24px 18px 70px 22px; }
.top_container.mar{margin-top:-582px; min-height: 600px;}
.left_sec{width:697px; float:left;}
.extra_box{width:697px; float:left; padding-bottom:168px;}
.common_box{width:689px; float:left; padding-right:20px; }
.common_box.wide{width:920px; float:left; padding-right:20px; }

.common_box h3 {font-size:24px; line-height:32px; color:#ae2101; padding:10px 0 11px 0; width:100%; }
.common_box h3 a {text-decoration: none !important; color:#ae2101 !important;}
.common_box h3 a:hover {color: #d27f6c !important; text-decoration: none !important;}
.common_box p{font-size:13px; line-height:15px; color:#626262; padding-bottom:19px; }
.common_box p a{text-decoration:none; color:#3f7c8a;}
.common_box ul {margin: 0 0 0 20px}
.common_box ul li {margin: 7px 0 0 0}
.content_detail_box{width:684px; float:left; padding: 0 16px 0 22px;}

.common_section{width:682px; float:left; -webkit-border-radius: 5px; border-radius: 5px; behaviour:url(PIE.htc); z-index:99; border:1px solid #e4e4e4;
 background:#efefef url(images/common_box_bg.jpg) repeat-x 0 0; padding:22px 0 24px 0px; margin:18px 0 0 0;  }
.common_section.mar{margin-bottom:0px;}
.bottom_strip_bg{width:681px; float:left; background:url(images/bottom_strip_bg.jpg) no-repeat 0 0;}
.bottom_strip_bg img{ float:left; margin-left:23px; display:inline;}
.bottom_strip_bg p{font-size:13px; line-height:16px; color:#646464; padding-top:3px; }
.common_section.extra1{margin-top:18px;}
.common_section .photo{width:174px; float:left; text-align:center; padding-top:18px;}
.common_section .photo.pad1{padding-top:0px; padding-left:12px;}
.common_section .photo.pad3{ padding-left:12px;}
.common_section .text_box{width:483px; float:left;}
.common_section .text_box h3{font-size:22px; line-height:25px; color:#ae2101;  font-family: Helvetica, Arial, sans-serif; font-weight:normal; padding-bottom:2px}
.common_section .text_box p{font-size:13px; line-height:20px; color:#646464;}
.common_section .text_box p.pad{padding-top:8px;}
.common_section .text_box p span{color:#3f7c8a;}
.common_section .photo.pad{padding-top:36px;}
.partner_list{width:682px; float:left; position:relative; z-index:9;}

.partner_list ul{width:auto; float:left; list-style:none; padding-top:34px;}

.partner_list ul li{width:auto; float:left; padding:0 14px 0 7px;}
.partner_list ul li a{text-decoration:none; color:#fff;}
.partner_list ul li a:hover{color:#fff;}
.partner_list ul li.pad1{padding:0px 20px 0 5px;}
.partner_list ul.pad{padding-left:77px; padding-top:33px;}
.partner_list ul li.last{padding-left:0px;}
.right_sec{width:241px; float:right; padding: 0 15px 0 15px;}
.right_sec .calender_box{ width:269px; float:left;}
.right_sec .calender_box h2{width:253px; float:left; font-size:18px; line-height:25px; color:#b32901; font-family: Helvetica, Arial, sans-serif; background:url(images/head_bg.png) no-repeat 0 0; padding:13px 0 10px 16px;}
.right_sec .calender_box small{ float:left; text-align:center; width:100%; padding-bottom:16px; padding-top:15px;}
.right_sec .calender_box a.link{width:195px; float:left; cursor:pointer; text-decoration:none; height:24px; padding:8px 0 3px 0px; background:url(images/link_bg.png) no-repeat 0 0; margin:0px 0 7px 41px; display:inline;}
.right_sec .calender_box a.link span{font-size:13px; line-height:16px; color:#fff; text-align:center; width:100%; float:left;  }
.right_sec .upcoming_event{width:268px; float:left; padding-top:9px;}
.right_sec .upcoming_event h2{width:254px; float:left; font-size:18px; line-height:21px;   font-family: Helvetica, Arial, sans-serif; color:#b32901; background:url(images/head_bg.png) no-repeat 0 0; padding:13px 0 10px 16px; margin-bottom:24px;}
.right_sec .upcoming_event .box{width:240px; float:left; padding:0 0 22px 19px;}
.right_sec .upcoming_event .box p{font-size:13px; line-height:16px; color:#3f7c8a;  width:auto; float:left;}
.right_sec .upcoming_event .box span{ font-size:13px; line-height:16px; color:#4c4c4c; padding-bottom:3px; float:left;}


#footer{width:930px; float:left; border-bottom: 10px #edd9be solid; background: #fff; padding: 20px 39px 0 39px; margin:47px 0px 50px 0px; display:inline; height:240px;}
#footer .left_footer{width:381px; float:left; padding-top:13px;}
#footer .left_footer p{font-size:13px; line-height:16px; color:#a3a3a3; padding:23px 0 0 24px;}
#footer .right_footer{width:531px; float:right; padding-top:23px;}  
#footer .right_footer ul{width:auto; float:left; list-style:none;}
#footer .right_footer ul li{width:auto; float:left; background:url(images/sep.jpg) no-repeat right 0; padding: 0 15px 0 10px }
#footer .right_footer ul li a{text-decoration:none; color:#fff;}
#footer .right_footer ul li a:hover{color:#fff;}  
#footer .right_footer ul li p{font-size:13px; line-height:16px; color:#a3a3a3; padding-top:13px;} 
#footer .right_footer ul li.last{background:none;}  
 

/* search form frontpage */ 
.custom-search-button{width:70px;}
.custom-search-box {width:155px; padding: 4px;}
.custom-search-box:focus {border:2px gray solid; width:155px !important; padding: 4px !important;}
#search-block-form .form-item-search-block-form{margin-top: 0px; float:left; display:block; }
#search-block-form {margin: 0 0 20px 0;}

/* media gallery */
.media-gallery-collection .node h3 {font-size: 12pt; color: #000;}
.media-gallery-collection {padding: 0; margin: 0}

/* people */
.view-staff {float:left; margin: 0 10px 0 0;}
.view-staff td {padding: 10px 5px 10px 5px;font-size: 13pt; width: 199px}
.view-staff td a {text-decoration: none;}
.view-staff td a:hover {text-decoration: underline;}
.view-staff caption {margin: 10px 0 10px 0}
.view-staff caption a {font-size: 13pt; font-weight: bold; text-decoration: none;}

/* person profile */
.profile .field{padding: 0 0 10px 0}
.profile .field-name-field-profile-name{display: inline-block; margin-right: 5px; }
.profile .field-name-field-profile-last-name{display: inline-block;}
#user-picture {
    float: right;
    padding-left: 15px;
}
#field_more_information_header {
    font-weight: bold;
}

/* tabs */
.left_sec .tabs {margin: 0 0 20px 0; background: #efefef; }

/* hacks */
.block-views .view .date-nav-wrapper .date-prev {margin-left: 0px;}
#block-masquerade-masquerade {z-index: 10200; position: fixed; right: 0; padding:20px 10px 10px 10px; width: 160px; border: 2px gray solid; background: #fff;}
.view-projects img{margin: 0 60px 0 0;}

/*lists*/
.item-list ul {list-style-type: none; margin:0; padding: 0}
.item-list ul li {margin: 0; padding: 5px 0 0 0; }
  
/*books*/
.view-books .views-row {padding: 5px 0 20px 0; width: 700px; clear:both;}
.view-books .views-field {width: 600px; margin-left: 180px;}
.view-books .views-field-title {margin:30px 0 20px 0;}
.view-books .views-field-field-book-cover {float: left; width: 160px; margin: -70px 0 0 0; padding: 0}
.view-books .views-field-field-book-cover img {width:154px; height:200px;}


/* events */
.view-events td,th {padding: 10px 5px 10px 5px; line-height: 12pt;} 
.view-events thead {border-top: 3px solid #cccccc;}
.view-events thead a {font-weight: bold; color: #000;}
.view-events td a {font-weight: bold; color: #AE2101; text-decoration: none;}
.view-events .pager {margin: 20px 0 0 0;}


/* search results */
#search-form {margin: 0 0 35px 0; border-bottom: 3px solid #ccc; padding-bottom: 20px}
.search-results {margin: 10px 0 0 0}
.search-results li h3 {font-family: Arial, Helvetica, sans-serif; padding: 0; line-height: 22px; color: blue; }
.search-results li h3 a {text-decoration: underline;}
.search-results .search-snippet-info {padding: 0}
p.search-snippet {padding:0;}
#edit-basic {display: inline-block;}
#edit-advanced {display: inline-block; margin-top: 30px; line-height: 9pt}


/* easy-breadcrumb */
.easy-breadcrumb a { color: #AE2101;}
.easy-breadcrumb {color: #626262;}

/*calendar*/
.bt-content {padding-left: 20px !important;}
